* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  position: relative;
  font-family: Inter, sans-serif;
}

.menu {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.96);
  z-index: 100000;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.28s ease;
}

.menu-overlay.open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.menu-overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.4s ease;
}

.menu-overlay button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
}

.menu-overlay a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right .sup {
  border: 1px solid #fff;
  padding: 4px 15px;
  border-radius: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
}

nav i {
  color: #fff;
}

.menu {
  display: none;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.nav-left a i {
  transition: transform 0.4s ease;
}

.nav-left a:hover i {
  transform: rotate(-90deg);
}

.deposit {
  background-color: #fff;
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
  transition: transform 0.4s ease;
  font-size: 13px;
}

.deposit:hover {
  transform: scale(1.1);
}




@media screen and (max-width: 768px) {
  .nav-right i {
    display: none;
  }

  .abt,
  .copy,
  .history {
    display: none;
  }

  .menu {
    display: flex;
  }

}