* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: Inter, sans-serif;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.96);
  z-index: 100000;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.28s ease;
}

.menu-overlay.open {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.menu-overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: transform 0.4s ease;
}

.menu-overlay button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 25px;
}

.menu-overlay a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-left a i {
  transition: transform 0.4s ease;
}

.nav-left a:hover i {
  transform: rotate(-90deg);
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-right .sup {
  border: 1px solid #fff;
  padding: 4px 15px;
  border-radius: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

nav i {
  color: #fff;
}

.deposit {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 50px;
  transition: background-color 0.4s ease;
}

.deposit:hover {
  background-color: #fff;
  color: black;
}

.menu {
  display: none;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.dash-main {
  width: 90%;
  height: 100vh;
  margin: 70px auto 0 auto;
  padding: 20px;
  /* border: 1px solid red; */
}

.overview {
  font-weight: 500;
}

.balance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: auto;
  padding: 20px;
}

.estimated {
  font-size: 16px;
}

.money {
  font-size: 30px;
}

.currency {
  font-size: 12px;
  font-weight: 500;
}

.today {
  color: green;
  display: flex;
  gap: 5px;
}

.today span {
  color: black;
  border-bottom: 2px dashed black;
}

.balance-options {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.balance-options button {
  border: none;
  background: transparent;
  border: 1px soid black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 50px;
  color: black;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.balance-options button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.user-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}



.user-main {
  width: 25%;
  display: flex;
  gap: 10px;
  align-items: center;
  border-right: 2px solid rgb(240, 240, 240);
  padding-right: 10px;
}

.user-main-left {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-main-left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-main-text {
  width: 60%;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.text-mail {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  color: black;
}

.gray {
  font-size: 12px;
  color: rgb(187, 189, 187);
}

.user-r {
  width: 18.75%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}

.main-e {
  font-size: 16px;
}

.user-verification a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 50px;
  align-self: flex-start;
  font-size: 12px;
}

.user-country .country-text {
  font-size: 13px;
}

.user-trading .regular {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  align-self: flex-start;
}

.dash-bottom {
  width: 100%;
  margin: 30px auto 0px auto;
  display: flex;
  gap: 25px;
}

.dash-left {
  width: 70%;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.dl-top {
  border: 2px solid rgb(244, 245, 239);
  height: 276px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(254, 254, 242), white);
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.dl-top::before {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid rgb(206, 206, 206);
}

.dl-top h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.dl-top .identity {
  font-size: 14px;
  line-height: 16px;
  color: rgb(61, 61, 61);
}

.gray2 {
  font-size: 12px;
  color: rgb(71, 71, 71);
}

.smile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smile i {
  font-size: 28px;
}

.smile a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(80, 181, 90);
  font-size: 14px;
  font-weight: 500;
}

.smile a i {
  font-size: 16px;
}

.vyi {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dl-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.dl-bottom h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.crypto-table {
  width: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.table-header,
.crypto-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}

.col {
  display: flex;
  align-items: center;
}

.name-col {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 8px;
}

.price-col,
.change-col {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.table-header {
  font-weight: bold;
  color: #666;
}

.icon {
  width: 28px;
  height: 28px;
}

.star {
  color: gold;
  font-size: 18px;
}

.price-col {
  font-weight: 500;
  font-size: 14px;
}

.change-col {
  font-weight: 500;
  font-size: 14px;
}

.positive {
  color: #22c55e;
}

.negative {
  color: #ef4444;
}

.crypto-row:hover {
  background: #f7f7f7;
  cursor: pointer;
}

.trends {
  display: flex;
  gap: 25px;
}

.trends button {
  border-color: transparent;
  /* border-bottom: 1px solid black; */
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  color: black;
  border-bottom: 2px solid transparent;

}


.trends button.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}


.dash-right {
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(244, 245, 239);
  padding: 20px;
  height: 476px;
}

.dash-right h2 {
  font-size: 24px;
  font-weight: 600;
  height: auto;
  line-height: 33px;
}

.ann-row {
  /* border-top: 1px solid rgb(187, 189, 187); */
  border-bottom: 1px solid rgb(187, 189, 187);
  padding: 0px 0px 5px 0px;
  margin-top: 30px;
  cursor: pointer;
}

.ann-row .okx {
  font-size: 13px;
}

.lc_chart {
  overflow: auto;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  .nav-right i {
    display: none;
  }

  .abt,
  .copy,
  .history {
    display: none;
  }

  .menu {
    display: flex;
  }

  .user-details {
    margin-top: 30px;
    flex-direction: column;
  }

  .user,
  .user-r {
    width: 100%;
  }

  .user-main {
    border: none;
  }

  .user-main-left {
    width: 10%;
  }

  .user-main-left img {
    width: 50px;
  }

  .user-main-text {
    width: 90%;
  }

  .user-r {
    flex-direction: row;
    justify-content: space-between;
  }

  .user-r p {
    font-size: 13px;
    cursor: pointer;
  }

  .user-verification a {
    font-weight: 600;
    padding: 2px 10xp;
  }

  .dash-bottom {
    flex-direction: column;
    padding: 50px 0px;
  }

  .dash-left,
  .dash-right {
    width: 100%;
  }

  .dash-right {
    height: auto;
  }

  .trends button {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .user-main-left {
    width: 16%;
  }

  .user-main-text {
    width: 88%;
  }

  .user-details {
    gap: 25px;
  }

  .dash-main {
    padding: 5px;
  }
}